@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
  background: url(../images/bg1.png);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  /*-webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;*/
  padding-top: 95px;
/*  transition: all 0.5s ease-in-out;*/
}
button,
input {
  box-shadow: none !important;
}
ul,
li,
ol,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}
p {
  line-height: 24px;
  font-size: 14px;
}
a {
  color: #202124;
  text-decoration: none;
  transition: all ease 0.4s !important;
}
img {
  max-width: 100%;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #fe870a;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  margin: 0;
}
.mt-60 {
  margin-top: 60px;
}
.btn-primary {
  background: #fe870a;
  color: #fff !important;
  font-size: 16px;
  padding: 13px 40px !important;
  border: 1px solid #fe870a;
}
.btn-outline-secondary {
  border-color: #ccc;
}
.btn-outline-secondary:hover,
.btn-outline-secondary:active,
.btn-outline-secondary:focus {
  background: #fe870a;
  color: #fff;
  border-color: #fe870a;
}
.btn-outline-secondary:hover i {
  color: #fff !important;
}
.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus {
  background: transparent;
  border: 1px solid #fe870a;
  color: #fe870a !important;
}
.text-primary {
  color: #fe870a !important;
}
section {
  padding: 50px 0;
}
.nav-item {
  margin-left: 20px;
}
.top_section .nav-item:last-child {
  margin-left: 100px;
}
.nav-link {
  color: #000;
  border-bottom: 3px solid transparent;
}
.navbar-expand-lg .navbar-nav a.nav-link.active,
.navbar-expand-lg .navbar-nav a.nav-link:hover {
  color: #fe870a;
  border-color: #fe870a;
}
.banner_outer {
  background: url(../images/banneer.png);
  background-size: cover;
  position: relative;
  color: #fff;
}
.banner_outer:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}
.banner_outer .container {
  z-index: 9;
  position: relative;
}
.banner_outer h2 {
  font-weight: 400;
  font-size: 60px;
}
.banner_outer h2 span {
  font-weight: 600;
  display: block;
}
.main_feature {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #eeeeee;
  box-shadow: 0px 34px 135px rgba(0, 0, 0, 0.04),
    0px 13.0963px 43px rgba(0, 0, 0, 0.1),
    0px 2.77037px 11px rgba(0, 0, 0, 0.0157037);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.main_featureBox {
  background: linear-gradient(
    180deg,
    rgba(252, 193, 3, 0) 22.25%,
    #fcc103 149%
  );
  border: 2px solid #ffffff;
  border-radius: 15px;
  text-align: center;
  margin: 0 10px;
  padding: 15px;
  max-width: 180px;
  width: 100%;
}
.form-group {
  margin-bottom: 15px;
}
.featureBoxImg {
  padding: 25px;
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 15px;
}
.main_featureBox h5 {
  font-size: 14px;
}
.freeKundliForm {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #eeeeee;
  box-shadow: 0px 34px 135px rgba(0, 0, 0, 0.1),
    0px 13.0963px 43px rgba(0, 0, 0, 0.0242963),
    0px 2.77037px 11px rgba(0, 0, 0, 0.0157037);
  backdrop-filter: blur(15px);
  border-radius: 24px;
  padding: 25px;
}

.form-control {
  border-radius: 8px;
  font-size: 14px;
  height: 50px;
}

.title h2 {
  font-size: 50px;
  font-weight: 500;
  position: relative;
  padding-bottom: 30px;
}
.title h2:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100px;
  background: url("../images/border.png") no-repeat bottom center;
  left: 0;
  bottom: 0;
}
.astrologerListBox {
  background: #ffffff;
  border: 1px solid #efefef;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 25px;
}
.astroBoxTop {
  display: flex;
  position: relative;
}
.astroBoximg img {
  width: 100px; height: 100px; object-fit: cover;
  border-radius: 10px;
}
.astroBoximg {
  margin-right: 15px;
}
.checkicon {
  position: absolute;
  right: 0;
}
.astroBoxcont h4 {
  font-size: 24px;
  font-weight: 600;
}
.astroBoxcont h5 {
  margin: 5px 0;
  font-size: 18px;
}
.astroBoxcont p {
  font-size: 13px;
  color: #979797;
  line-height: 20px;
}
.metaInfo {
  display: flex;
}
.reviewBox {
  color: #979797;
  font-size: 13px;
  margin-top: 7px;
}
.reviewBox i {
  margin-left: 3px;
}
.services_box {
  padding: 15px 30px;
  background: #ffffff;
  border: 1px solid #efefef;
  border-radius: 10px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.services_box:hover {
  background: #fff0df;
  border: 1px solid #fe870a;
}
.services_box img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}
.services_box h4 {
  font-size: 24px;
  margin: 15px 0;
}
.services_box p {
  color: #918a84;
}
.services_box a {
  text-decoration: underline;
  display: inline-block;
  margin-top: 15px;
}
.kundliForm {
  background: #fff0e0;
  padding: 50px 30px;
  border-radius: 10px;
}
.kundliForm .form-group {
  margin: 0 15px;
}
.kundliForm .form-group input.form-control {
  width: 200px;
}
.kundliForm label {
  font-size: 18px;
  margin: 0 0 8px;
}
.kundliForm button {
  border-radius: 50px;
  margin-top: 30px;
}
.blogBox {
  border: 1px solid #efefef;
  border-radius: 10px;
  background-color: #fff;
}
.blogCont {
  padding: 15px;
}
.blogCont h3 {
  font-size: 18px;
  font-weight: 600;
}
.blogCont p {
  margin: 15px 0;
}
.blogCont > a {
  color: #fe870a;
  text-decoration: underline;
  display: block;
  text-align: center;
  width: 100px;
  margin: auto;
}
.rashibox {
  border: 1px solid #efefef;
  border-radius: 10px;
  text-align: center;
  padding: 15px;
  margin: 15px 0;
  background-color: #fff;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.rashibox:hover {
  background: #fff0df;
  border: 1px solid #fe870a;
}
.rashiImg {
  background: #ffffff;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 8%);
  width: 70px;
  border-radius: 50%;
  height: 70px;
  line-height: 70px;
  margin: auto;
}
.rashibox h4 {
  font-size: 20px;
  margin: 10px 0;
}
#about h2 {
  font-size: 45px;
}
.subTitle {
  border-left: 4px solid #fe8302;
  padding-left: 40px;
  margin: 15px 0;
}
.subTitle p {
  font-size: 16px;
  color: #918a84;
  line-height: 30px;
}
.aboutMeta {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.avout_video {
  position: relative;
}
span.playBtn {
  position: absolute;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  top: 0;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}
.clientBox {
  border: 1px solid #eeeeee;
  box-shadow: 0px 13.0963px 43px rgb(0 0 0 / 5%);
  border-radius: 15px;
  padding: 30px;
  background-color: #fff;
}
.owl-carousel .owl-nav button {
  border: 1px solid #fe870a !important;
  color: #fe870a !important;
  width: 50px;
  height: 50px;
  font-size: 30px !important;
  border-radius: 50%;
}
.owl-nav {
  display: flex;
  justify-content: space-between;
}
.owl-nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -40px;
}
.owl-carousel {
  width: 85%;
  margin: auto;
}
.owl-carousel .owl-nav button.owl-prev {
  margin-left: -70px;
}
.owl-carousel .owl-nav button.owl-next {
  margin-right: -70px;
}
footer {
  background: #000000;
  color: #fff;
  padding: 50px 0;
}
footer a {
  color: #fff;
}
footer h4 {
  position: relative;
  padding-bottom: 10px;
  font-weight: 600;
  margin-bottom: 25px;
}
footer h4:after {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  background: #fe870a;
  bottom: 0;
  left: 0;
}
footer li {
  margin-bottom: 15px;
}

footer .contactInfo li {
  position: relative;
  padding-left: 30px;
}
.contactInfo li i {
  position: absolute;
  left: 0;
  color: #fe870a;
}
#page-title {
  background: url(../images/page-title.png);
  background-size: 100%;
  text-align: center;
  color: #fff;
}
#page-title ul li {
  display: inline-block;
}
#page-title ul li a {
  color: #fe8302;
}
#page-title ul li a:after {
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  color: #fff;
  font-weight: 900;
}
#page-title ul {
  background: rgba(255, 255, 255, 0.235);
  display: inline-block;
  width: auto;
  padding: 8px 20px;
  border-radius: 50px;
  margin: 20px 0 0;
}
.seachBox .form-control {
  border: 1px solid #ccc;
  height: 40px;
}
.seachBox {
  position: relative;
}
.seachBox button {
  background: no-repeat;
  border: none;
  position: absolute;
  right: 10px;
  top: 8px;
  color: #fe8302;
}
.notification-list {
  background: #ffffff;
  border: 1px solid #efefef;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0;
}
.notification-list_feature-btn a {
  background: #fe8302;
  color: #fff;
  font-size: 12px;
  display: inline-block;
  padding: 6px 10px;
  border-radius: 4px;
}
.saving {
  font-size: 40px;
}

.saving span {
  font-size: 80px;
  -webkit-animation-name: blink;
  animation-name: blink;
  -webkit-animation-duration: 1.4s;
  animation-duration: 1.4s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  color: #fe870a;
}

.saving span:nth-child(2) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.saving span:nth-child(3) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
.chatMsg_inner {
  width: 50%;
  margin: auto;
  background: #f7ece8;
  padding: 25px;
  border-radius: 10px;
}
.modal .chatMsg_inner {
  width: 100%;
}
.modal #v-pills-tabContent {
  width: 100%;
}
.chatUser img {
  border-radius: 50%;
  margin-bottom: 10px;
}
.chatMsg_inner > p {
  font-size: 16px;
  color: #615e5e;
}
.chatMsg_inner h5 span {
  color: #0cbd01;
}

.chatMsg_inner button {
  width: 100%;
}
.chatMsg_inner label {
  font-weight: 500;
  margin-bottom: 7px;
}
.chatMsg_inner .form-control,
.chatMsg_inner select {
  height: 40px;
  border: none;
  font-size: 13px;
  border-radius: 5px;
}
.top_section.home {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  background: #fff;
  width: 100%;
  -webkit-box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%), 0 1px 0 0 rgb(0 0 0 / 6%);
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%), 0 1px 0 0 rgb(0 0 0 / 6%);
}
.blogImg img {
  height: 220px;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
#filter button i {
  color: #fe870a;
}
#freeKundli .card {
  background: #fff3e6;
  border-color: #fddbb7;
}

#freeKundli .form-control {
  height: 40px;
  border-radius: 5px;
  font-size: 13px;
  border-color: #fddbb7;
}
#freeKundli label {
  font-size: 14px;
  font-weight: 600;
}
#freeKundli .btn-primary {
  background: transparent;
  color: #fe870a !important;
}
#freeKundli .btn-primary.is_active {
  background: #fe870a;
  color: #fff !important;
}

#main_container .card {
  padding: 15px;
}
#main_container .card:hover {
  background: #fff0df;
  border: 1px solid #fe870a;
}
#main_container .card-body {
  font-size: 15px;
  color: #666;
}
#main_container h5.card-title {
  font-size: 20px;
  color: #000;
  font-weight: 600;
}
.horoscopeDetail {
  border: 1px solid #fe870a;
  padding: 20px;
  margin: 20px 0 0;
  border-radius: 5px;
  background: #fef7f4;
}
.headdailyscope {
  font-weight: 600;
}
.horoscopeDetail h5.card-title {
  font-weight: 600;
  font-size: 26px;
}
#alldatassdsd,
#alldatassdsd p {
  line-height: 32px;
  font-size: 15px;
}
#img {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginPage {
  background: #fff0e0;
}
.loginPage nav {
  background: #fff;
}
.content {
  box-shadow: rgb(0 0 0 / 10%) 0px 20px 25px -5px,
    rgb(0 0 0 / 10%) 0px 10px 10px -5px;
  padding: 25px;
  border-radius: 25px;
  background: #fff;
}
.new-kundli-matching {
  height: auto;
  padding: 50px 0;
}

li.userDropDown img {
  width: 35px;
  border-radius: 50%;
}
span#count {
  position: absolute;
  background: #3ff001;
  width: 22px;
  height: 22px;
  text-align: center;
  border-radius: 50%;
  left: 0;
  top: 0;
  color: #fff;
  font-size: 13px;
  line-height: 22px;
}
.content p a {
  color: #fe870a;
  font-weight: 600;
  text-decoration: underline;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  box-shadow: 0 0 10px 0 #ccc;
  font-size: 14px;
  border: none;
  width: 200px;
  border-bottom: 7px solid #fe870a;
}

.nav-link:focus,
.nav-link:hover {
  color: #fe870a;
}
.kundliUserimg {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font-size: 21px;
  font-weight: 600;
  line-height: 40px;
  margin-right: 15px;
}
.kundliUserCont h4 {
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

.kundliUserCont p {
  color: #666;
  font-size: 13px;
}
.kundli-list-group li {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
}
span.Online {
  width: 15px;
  height: 15px;
  display: inline-block;
  position: absolute;
  background: #3ff001;
  border-radius: 50%;
  left: -4px;
  top: 0;
}
span.Offline {
  width: 15px;
  height: 15px;
  display: inline-block;
  position: absolute;
  background: #f00;
  border-radius: 50%;
  left: -4px;
  top: 0;
}
#v-pills-tab {
  width: 30%;
}
#v-pills-tab button {
  text-align: left;
}
#v-pills-tab button {
  text-align: left;
  background: #eee;
  margin: 3px 0;
  border-radius: 0;
  font-size: 14px;
  padding: 15px;
  border-left: 5px solid #eee;
}
#v-pills-tab button.active,
#v-pills-tab button:hover {
  background: #fe870a;
  border-color: #fe870a;
  color: #fff;
}
.filter-list {
  border-top: 1px solid #eee;
  margin: 15px 0 0;
  padding: 15px;
  height: 250px;
  overflow: auto;
}

.form-check-input:checked {
  background-color: #fe870a;
  border-color: #fe870a;
}
.filter-list li {
  margin: 7px 0;
}
.modal-footer {
  justify-content: space-between;
}
#profileOuter .owl-carousel .owl-item img {
  width: 100%;
}
.rate {
  float: none;
  height: 25px;
  text-align: center;
  padding: 0 10px;
  background: ;
  width: 170px;
  margin: auto;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
.rating_circle {
  font-size: 55px;
}
.rating_text {
  margin-top: 38px;
}
.progress {
  width: 100%;
  margin: 0 15px;
}

.miniProfile,
.availabilityBox {
  border: 1px solid #efefef;
  border-radius: 16px;
  background: #fff;
  padding: 30px;
}
.miniProfileImg img {
  border-radius: 50%;
  margin-bottom: 15px;
}
.miniProfile p {
  font-size: 16px;
  line-height: 32px;
}
.miniProfile .btn {
  border-radius: 10px;
  text-align: left;
  position: relative;
  padding: 10px 10px 10px 35px;
  margin: 0 5px;
  font-size: 14px;
}
.text-priamry {
  color: #fe870a;
}
.btn-outline-secondary:hover,
.btn-outline-primary:hover,
.btn-outline-secondary:focus,
.btn-outline-primary:focus {
  background-color: #ffe8cf;
  color: #000;
  box-shadow: none !important;
}
.miniProfile .btn img {
  position: absolute;
  left: 8px;
  top: 19px;
  width: 20px;
}
.miniProfile .btn span {
  display: block;
  font-size: 12px;
  color: #fe870a;
}
.miniProfile .btn.btn-outline-primary {
  color: #000;
  border-color: #fe8302;
}
.availabilityBox li {
  margin: 20px 0;
  border: 1px solid #979797;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  padding: 15px;
  justify-content: space-around;
}
.availcont {
  color: #979797;
}
.profileIntro h2 {
  font-size: 35px;
  font-weight: 700;
}
.profileIntro p {
  font-size: 16px;
  line-height: 32px;
  margin: 15px 0;
}
.rating_circle {
  font-size: 75px;
  color: #fe870a;
  font-weight: 500;
}
.progress-bar {
  background-color: #fe870a;
}

.ratingBox {
  border-bottom: 2px solid #fe870a;
  margin: 0 -15px 10px;
  padding-bottom: 25px;
}
.ratingCommentBox img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
.ratingUserInfo h4 {
  font-size: 18px;
}
.rateDate {
  color: #979797;
  font-size: 13px;
}
.ratingCommentBox p {
  color: #979797;
}
.ratingCommentBox {
  border-bottom: 1px solid #ccc;
  padding: 15px;
}
.ratingCommentBox:last-child {
  border: none;
}

.progressBox {
  margin: 5px;
}
.ratingOuter .card {
  border-radius: 16px;
}
#request .modal-content {
  background: url(../images/bg1.png) #fff;
  background-size: 100%;
}
.chatBtn img {
  width: 15px;
  margin-right: 10px;
}
.chatBtn {
  width: 100%;
  border-radius: 50px;
  height: 30px;
  padding: 5px !important;
}
.request_user .chatuserImg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

/*Blog page*/
.single_post {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.single_post .body {
  padding: 30px;
}

.single_post .img-post {
  position: relative;
  overflow: hidden;
  max-height: 500px;
  margin-bottom: 30px;
}

.single_post .img-post > img {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: -webkit-transform 0.4s ease, opacity 0.4s ease;
  transition: transform 0.4s ease, opacity 0.4s ease;
  max-width: 100%;
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
}

.single_post .img-post:hover img {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
  opacity: 0.7;
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all 0.8s ease-in-out;
}

.single_post .img-post:hover .social_share {
  display: block;
}

.single_post .footer {
  padding: 0 30px 30px 30px;
}

.single_post .footer .actions {
  display: inline-block;
}

.single_post .footer .stats {
  cursor: default;
  list-style: none;
  padding: 0;
  display: inline-block;
  float: right;
  margin: 0;
  line-height: 35px;
}

.single_post .footer .stats li {
  border-left: solid 1px rgba(160, 160, 160, 0.3);
  display: inline-block;
  font-weight: 400;
  letter-spacing: 0.25em;
  line-height: 1;
  margin: 0 0 0 2em;
  padding: 0 0 0 2em;
  text-transform: uppercase;
  font-size: 13px;
}

.single_post .footer .stats li a {
  color: #777;
}

.single_post .footer .stats li:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}

.single_post h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.single_post h3 a {
  color: #242424;
  text-decoration: none;
}

.single_post .blockquote p {
  margin-top: 0 !important;
}

.single_post .meta {
  list-style: none;
  padding: 0;
  margin: 0;
}

.single_post .meta li {
  display: inline-block;
  margin-right: 15px;
}

.single_post .meta li a {
  font-style: italic;
  color: #959595;
  text-decoration: none;
  font-size: 12px;
}

.single_post .meta li a i {
  margin-right: 6px;
  font-size: 12px;
}

.single_post2 {
  overflow: hidden;
}

.single_post2 .content {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 80px;
  position: relative;
}

.single_post2 .content .actions_sidebar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 60px;
}

.single_post2 .content .actions_sidebar a {
  display: inline-block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  margin-right: 0;
  text-align: center;
  border-right: 1px solid #e4eaec;
}

.single_post2 .content .title {
  font-weight: 100;
}

.single_post2 .content .text {
  font-size: 15px;
}

.right-box .categories-clouds li {
  display: inline-block;
  margin-bottom: 5px;
}

.right-box .categories-clouds li a {
  display: block;
  border: 1px solid;
  padding: 6px 10px;
  border-radius: 3px;
  font-size: 14px;
}

.right-box .instagram-plugin {
  overflow: hidden;
}

.right-box .instagram-plugin li {
  float: left;
  overflow: hidden;
  border: 1px solid #fff;
}

.comment-reply li {
  margin-bottom: 15px;
}

.comment-reply li:last-child {
  margin-bottom: none;
}

.comment-reply li h5 {
  font-size: 18px;
}

.comment-reply li p {
  margin-bottom: 0px;
  font-size: 15px;
  color: #777;
}

.comment-reply .list-inline li {
  display: inline-block;
  margin: 0;
  padding-right: 20px;
}

.comment-reply .list-inline li a {
  font-size: 13px;
}
.blog-page .card {
  background: #fff;
  transition: 0.5s;
  border: 0;
  margin-bottom: 30px;
  border-radius: 0.55rem;
  position: relative;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}
.blog-page .card .body {
  color: #444;
  padding: 20px;
  font-weight: 400;
}
.blog-page .card .header {
  color: #444;
  padding: 20px;
  padding-bottom: 0;
  position: relative;
  box-shadow: none;
}
.blog-page .input-group-text {
  height: 100%;
}

.blog-page .card .header h2 {
  font-size: 24px;
  font-weight: 700;
}
.ratingStar i {
  color: #97979780;
}
.ratingStar i.text-priamry {
  color: #fe870a;
}

.owl-carousel .owl-nav button:hover {
  background: #fe870a !important;
  color: #fff !important;
}
.ratingCommentBoxTop {
  margin-bottom: 10px;
}

@media (max-width: 1200px) {
  .main_feature{ padding:10px 0 }
  .navbar-toggler {
    background: #fe870a;
    color: #fff;
    height: 50px;
    line-height: 32px;
  }
  .nav-item:last-child {
    margin-left: 20px;
  }
  .nav-item {
    margin-left: 0;
  }
  .kundliForm .form-group {
    margin: 0 5px;
  }
  .kundliForm {
    padding: 30px 20px;
  }
  .kundliForm .form-group input.form-control {
    width: 170px;
  }
  .kundliForm button {
    padding: 5px 25px !important;
    height: 50px;
  }
  .owl-carousel .owl-nav button {
    width: 40px;
    height: 40px;
    line-height: 27px !important;
  }
  .owl-carousel .owl-nav button.owl-next {
    margin-right: -45px;
  }
  .owl-carousel .owl-nav button.owl-prev {
    margin-left: -45px;
  }
  .owl-carousel {
    width: 80%;
  }
}
@media (max-width: 990px) {
  button.btn.btn-primary.daily_event_call_desc {
    padding: 5px 10px !important;
    font-size: 13px; margin: 0 0 5px;
}
  .miniProfile .btn {
    font-size: 11px;
  }
  .miniProfile,
  .availabilityBox {
    padding: 10px;
  }
  .kundliForm {
    flex-wrap: wrap;
  }
  .kundliForm .form-group {
    margin: 0 0 15px;
    width: 50%;
    padding: 0 5px;
  }
  .kundliForm .form-group input.form-control {
    width: 100%;
  }
  .banner_outer p.mt-3.mb-5 {
    margin-bottom: 20px !important;
  }
  .main_feature {
    margin-bottom: 25px;
  }
  .services_box {
    margin: 15px 0;
  }
  .astroBoxcont h4 {
    font-size: 20px;
  }
  .banner_outer h2 {
    font-size: 40px;
  }
  .blogBox {
    margin: 20px 0;
  }
  .featureBoxImg {
    padding: 15px;
    width: 70px;
    height: 70px;
  }
  
}

@media (max-width: 767px) {
.navbar{ padding:0 }
body{padding-top: 60px}
.navbar-toggler{height: 40px;   width: 40px;  padding: 0;}
a.logo img {  width: 60px;}
section {    padding: 20px 0;}
.kundliForm button{ width:100% }
.title h2,.banner_outer h2,#about h2 {  font-size: 30px;}
.kundliForm button{ width:100% }
.services_box h4{font-size: 20px}

}
@media (max-width: 580px) {
  .col-lg-2.col-md-4.col-sm-6 {    width: 50%;}
  .main_feature {    margin-bottom: 0;    flex-wrap: wrap;    border: none;    background: none;}
  .banner_outer p.mt-3.mb-5{margin-bottom: 0 !important}
  .main_featureBox{max-width: 100% !important;     margin: 5px auto;}
  .btnPanel {  display: flex;}
  .filterBar .col-sm-8, .filterBar .col-sm-4 {   width: auto;}
}
@media (max-width: 450px) {
  .filterBar .btn{font-size: 12px}
  .seachBox .form-control{font-size: 12px;border-radius: 5px;}
  button.btn.btn-outline-secondary.ms-3 {   margin: 0 0 0 5px !important;}
  .filterBar .col-sm-4 {    padding-left: 0;}
  .filterBar .col-sm-8 {    padding-right: 5px;}
}
@media (max-width: 400px) {
  .seachBox .form-control{ width:140px }
  .seachBox button{right: 0;    top: 5px;}
}